body {
    background-color: #FC4428;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

h2 {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 5vh;
}

#logo{
    width: 50vh;
    
}

.allstores-fb{
    display: flex;
    gap: 5vh;
}

.store-fb{
    display: flex;
    flex-direction: column;
    
}

.branchimg{
    width: 40vh;
    height: 40vh;
}

.branchimg:hover{
    cursor: pointer;
}

p{
    font-family: Roboto;
    color:white;
    text-align: center;
    font-size: 20px;
    margin-top: 1.8vh;
}